* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 15vh;
    font-family: Roboto;
    text-align: center;
}

input {
    width: 100px;
}

#leftSide, #rightSide, #example {
    display: inline-block;
}

#bottom-left, #bottom-right {
    margin-top: 400px;
}

#example {
    width: 400px;
    height: 400px;
    background-color: #080808;
    margin-bottom: 20px;
}

#copy {
    text-align: center;
    width: 250px;
    border-radius: 0;
    height: 35px;
    border: 1px solid silver;
}

#btnCopy {
    margin-left: 5px;
    height: 35px;
    background-color: silver;
    font-weight: bolder;
    padding: 0 10px 0 10px;
    border: none;
}

#btnCopy:hover {
    cursor: pointer;
    background-color: gray;
}